        .b {
            font-weight: bold;
        }
        
        .k {
            text-align: right;
        }

        .t {
            text-align: center;
        }

        body {
            background-color: rgb(52, 52, 52);
        }

        .u {
            text-decoration: underline;
        }

        .ki {
            text-align: left;
        }

        .wt {
            color: rgb(255, 255, 255);
        }

        h1 {
            font-weight: bold;
            text-align: center;
            color: rgb(255, 255, 255);
        }

        h3 {
            font-weight: bold;
        }

        a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-weight: bold;
        }

        img {
            width: 100%;
        }

        img.logo {
            width: 8%;
        }

        table{
            width: 100%;
        }

        th.kn {
            text-align: right;
        }

        th.kr {
            text-align: left;
        }
        
